* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a { text-decoration: none; }

body {
    font-family:'Segoe UI', Tahoma, sans-serif;
    font-size: 16px;
}

/* ----- header ----- */

.header {
    background: linear-gradient( rgba(38, 111, 174, 0.5), rgba(42, 82, 175, 0.5) ), url(../img/portada.jpg)  top center;
    height: 100vh;
    font-family: 'Lobster';
    text-align: center;
    color: #fff;
    font-size: 1.5em;
}

.header__titulo {
    font-size: 3rem;
    padding-top: 1.5em;
    text-shadow: 4px 4px 1px #000;
}
.header__titulo span { font-size: 0.7em; }

/* ----- menu principal*/

.nav {
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav__menu {
    background: #3a7bd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3a6073, #3a7bd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    list-style: none;
    display: flex;
    justify-content: center;
}

.nav__menu li { padding: 0.9375em; }
.nav__menu li a:hover {text-shadow: -2px -1px 0px #000; }

.nav__menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    transition: 0.3s;
}

/* ----- menu para celular*/

.navcelular {
    display: none;
    background-color: rgb(0, 100, 150); 
    position: fixed;
    padding-top: 50px;
    left: -80%;
    width: 80%;
    height: 100%;
    transition: 0.5s;
    z-index: 2;
}

.navcelular li a {
    text-decoration: none;
    color: #fff;
    font-size: 2em;
}

.navcelular-button {
    display: inline-block;
    font-size:3em;
    background-color: rgb(81, 221, 175);
    position: absolute;
    padding: 0px 10px;
    top: 0;
    left: 100%;
    color: #fff;
    background-color:rgb(4, 117, 155); 
    border-radius: 0px 0px 20px 0px;
}

.navcelular li { padding: 0.9375em; }
.navcelular:hover { left: 0; }

/* ----- main ----- */

.main {
    margin: auto;
    width: 90%;
    max-width: 1200px;
    text-align: center;
}

.main section {
    padding-top: 100px;
    margin-bottom: 20px;
}

.main__subtitulo {
    font-weight: 900;
    margin-bottom: 20px;
    font-size: 2em;
    margin-bottom: 50px;
    color: rgb(4, 117, 155);
}

/* ----- contacto */

.contacto__panel {
    display: flex;
    font-size: 1.1em;
    justify-content: center;
    flex-wrap: wrap ;
}

.contacto img {
    width: 50%;
    max-width: 500px;
}

.contacto__panel-info {
    margin: auto;
    background-color: rgb(81, 221, 175);
    border-radius: 10px;
    border-bottom: 3px solid rgb(131, 131, 131);
    padding: 30px;
    position: relative;
    font-size: 1.5rem;
}

/* ----- medio de pago */

.mediopago img {
    width: 50%;
    max-width: 400px;
}

/* ----- lugares */

.lugares__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lugares__lista .lugar{
    margin: 20px;
}

.lugares__lista .lugar img {
    max-width: 300px;
    width: 100%;
    border-radius: 10px;
}

.lugares__lista .lugar figcaption {
    font-size: 1rem;
    padding: 5px;
    text-shadow: 1px 1px 2px #222;
    background-color: rgb(228, 210, 210);
    border-radius: 0px 0px 10px 10px;
}


/* ----- Aliados */

.aliados__categorias {
    background-color: rgb(214, 226, 184);
    border-radius: 20px;
    padding: 10px 0px;
    color: rgb(0, 100, 150);
    max-width: 500px;
    margin: auto;
    font-size: 1.1em;
}

.aliados__categorias a {
    color: rgb(0, 100, 150);
    padding-right: 10px;
    padding-left: 10px;
}

.activo {
    font-weight: bold;
} /*js*/

/*Inicio_Muuri*/
.grid {
    position: relative;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s linear 1s;
}
.grid.imagenes-cargadas { opacity: 1; }

.grid .item {
    position: absolute;
    display: block;
    margin: 10px; /*20px*/
    width: calc(20% - 20px); /*5 items en cada columna = 100%*/
    border: 4px solid rgb(214, 226, 184);
    border-radius: 10px;
}

.grid .item-contenido { position: relative; }

.grid .item img {
    width: 100%;
    cursor: pointer;
}
/*Fin_Muuri*/

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0,0, .9);
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.overlay.activo {
    display: flex;
    z-index: 10;
}/*js*/

.overlay #btn-cerrar {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    margin-left: 300px;
}
.overlay h3 {
    margin: 0;
    padding: 0;
    height: 0;
    color: #fff;
}

.overlay__descripcion {
    text-align: left;
    margin-top: 5px;
    background-color: #fff;
    padding: 5px 20px;
    border-radius: 5px;
    max-width: 300px;
    min-width: 300px;
}

/* ----- footer ----- */

.footer {
    background-color: rgb(0, 70, 100);
    padding: 50px;
    margin-top: 0.9375em;
    color:#fff;
    text-align: center;
}

.footer hr {
    margin: 20px;
}

.contacto__redsocial{
    display: flex;
    justify-content: center;
}

.redsocial{
    display: block;
    width: 60px;
    height: 60px;
    color: white;
    margin: 0 30px 20px;
    border-radius: 100px;
    transition: .3s;
}

.redsocial i {
    font-size: 25px;
    line-height: 60px;
}

.facebook { background:#3b5998; }
.instagram { background: #c13584; }

.contacto__redsocial-icono:hover a { animation: icono .5s ease; }
@keyframes icono {
    from{ transform: rotate3d(0,0,0,0); }
    to{ transform: rotate3d(0,1,0,360deg); }
}

/* ----- responsive design ----- */

/*tablets horizontal*/
@media (max-width: 1000px) {
    body { font-size: 14px; }
}

/*tablets*/
@media (min-width: 992px) {
    body { font-size: 14px; } 
}

/*phone vertical*/
@media (max-width: 576px) {
    .navcelular { display: block; }
    body { font-size: 11px; }
    .header { border-bottom: 10px solid rgb(0, 100, 150); }
    .nav { display: none; }
    .aliados__categorias { max-width: 90%; }
    .grid .item { width: calc(33.33% - 20px); }
}